<!DOCTYPE html>
<html lang="en">

<body>
  <div class="jumbotron">
    <p>Aqui ficará formulario de pesquisa principal</p><br>
    <%= link_to 'Alugar Veiculo', new_aluguel_path, class: "btn btn-primary btn-lg" %>    
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("rx7.jpg", :style => "width: 140px; height: 140px;", :class => "img-circle", :alt => "rss feed") %>      
      <h2>Veiculo</h2>
      <p>Marca: Mazda</p>
      <p>Modelo: RX-7</p>
      <p><a role="button" href="#" class="btn btn-default">Mais detalhes »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag("mille.jpg", :style => "width: 140px; height: 140px;", :class => "img-circle", :alt => "rss feed") %>      
      <h2>Veiculo</h2>
      <p>Marca: Fiat</p>
      <p>Modelo: UNO</p>
      <p><a role="button" href="#" class="btn btn-default">Mais detalhes »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag("p208.jpg", :style => "width: 140px; height: 140px;", :class => "img-circle", :alt => "rss feed") %>      
      <h2>Veiculo</h2>
      <p>Marca: Pegeout</p>
      <p>Modelo: 208</p>
      <p><a role="button" href="#" class="btn btn-default">Mais detalhes »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>

</body>
</html>        


