<!DOCTYPE html>
<html lang="en">

<body>
  <div class="jumbotron">
    <h1>RentEasy</h1><br>
    <p>Aqui ficará formulario de pesquisa principal</p><br>
    <p><a role="button" class="btn btn-primary btn-lg" href="#">Pesquisar</a></p>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-circle">
      <h2>Veiculo</h2>
      <p>Detalhes do veiculo</p>
      <p><a role="button" href="#" class="btn btn-default">Saiba mais »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-circle">
      <h2>Veiculo</h2>
      <p>Detalhes do veiculo</p>
      <p><a role="button" href="#" class="btn btn-default">Saiba mais »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-circle">
      <h2>Veiculo</h2>
      <p>Detalhes do veiculo</p>
      <p><a role="button" href="#" class="btn btn-default">Saiba mais »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>

</body>
</html>        


