$('#myModal .modal-body').html("")
$('#myModal h4.modal-title').html('Detalhes do Aluguel: ');
$('#myModal .modal-body').html('#{escape_javascript(render file: 'alugueis/show.html.erb', aluguel: @aluguel)}');