<p id="notice"><%= notice %></p>


<p>
  <strong>Nome:</strong>
  <%= @opcional.nome %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @opcional.valor %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @opcional.descricao %>
</p>
