$('#myModal .modal-body').html("")
$('#myModal h4.modal-title').html('Detalhes da categoria: ');
$('#myModal .modal-body').html('#{escape_javascript(render file: 'categorias/show.html.erb', categoria: @categoria)}');