$('#myModal .modal-body').html("")
$('#myModal h4.modal-title').html('Detalhes da Locadora: ');
$('#myModal .modal-body').html('#{escape_javascript(render file: 'locadoras/show.html.erb', locadora: @locadora)}');